/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&display=swap");

html {
  font-family: "Nunito", sans-serif;
}

body {
  margin: 0;
}

.container {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  color: #090c08;
  margin: 15px;
  padding: 30px;
  text-align: center;
  height: 300px;

  h2 {
    margin: 0;
  }
}
