<div class="contact-form-container">
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div>
      <label>First Name</label>
      <input formControlName="firstName" placeholder="First Name" />
    </div>

    <div>
      <label>Last Name</label>
      <input formControlName="lastName" placeholder="Last Name" />
    </div>

    <div>
      <label>Email</label>
      <input formControlName="email" placeholder="Email address" />
    </div>

    <div>
      <label>Phone Number</label>
      <input type="number" formControlName="phoneNumber" />
    </div>

    <div>
      <label>Message</label>
      <textarea
        rows="5"
        formControlName="message"
        placeholder="Type your message..."
      ></textarea>
    </div>

    <button type="submit" [disabled]="contactForm.invalid">Submit</button>
  </form>
</div>
